.contentStyle
{
    position: relative;
    font-family: g_light;
}

.itemStyle
{
    font-family: g_bold;
}
.FontAvatar
{
    color:#488aff;
}

.actionAavatar
{
    font-family: g_bold;
    font-size:  1.2em;
    color:#66BB6A;
}

.actionRavatar
{
    font-family: g_bold;
    font-size:  1.2em;
    color:#E57373;
}
