page-forgot-password {

	.fontbolder
	{
		font-family: g_bold;
		font-weight: 800;
	}
	
	.img
	{
		min-width: 100%;
		min-height: 100%;
		background-image: url('../../assets/imgs/bg4.png') !important;
		background-color: #039be5 !important;
	}
	
	ion-card.card {
		box-shadow: none;
		background: #fff;
		border-radius: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #cacaca;
		height: auto;
	} 
	
	.formcontent
	{
	 position: relative;
	 top:10em;
	}
	
	.ionitems
	{
		//margin-top: 10px;
		border: 1px solid #c2bdbd !important;
	}
	.item {

		input::-moz-placeholder  {
			color: rgb(90, 88, 88)!important;
		}

		input:-moz-placeholder {
			color:rgb(90, 88, 88)!important;
		}

		*::-webkit-input-placeholder  {
			color: rgb(90, 88, 88)!important;
		}

		*:-ms-input-placeholder  {
			color: rgb(90, 88, 88)!important;
		}

		*:-moz-placeholder  {
			color: rgb(90, 88, 88)!important;
		}
	}

	.btnReset
	{
		margin-top: 10px;
		background-color:#039be5 !important;
	}
	.signup-btn {
		margin-top: 20px;
		color:white;
	}

	.button-md {
		text-transform: none;
	}
}
