page-report {
    .tabs-striped .tab-item {
        margin-top: 1px;
        font-size: 12px;
    }
    
    .tabs-striped .tab-item.tab-item-active, 
    .tabs-striped > .tabs
    {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
}
