.contentStyle
{
    position: relative;
    font-family: g_light;
}

.itemStyle
{
    font-family: g_bold;
}
.FontAvatar
{
    color:#488aff;
}

.actionAavatar
{
    font-family: g_bold;
    font-size:  1.2em;
    color:#238527;
}

.actionRavatar
{
    font-family: g_bold;
    font-size:  1.2em;
    color:#E57373;
}
.actionIavatar
{
    font-family: g_bold;
    font-size:  1.2em;
    color:rgb(83, 81, 81);
}

.cardBorder
{
    border-style: solid !important;
    // border-left-color: red !important;
    border-radius: 5px !important;
    border-left-width: 0.3em !important;
}




