<ion-header>
  <ion-navbar>
    <ion-title>Search Leave </ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="SearchResults" class="list">
    <ion-card>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-label>From</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY"   [(ngModel)]="myDate" formControlName="from"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>To</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" max="2020-10-31" formControlName="ToDate"></ion-datetime>
          </ion-item>

          <ion-item>
            <button ion-button full [disabled]="!SearchResults.valid"  (click)="searchLeave()">Search</button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
<br/>
<div *ngIf="Results">
  <ion-card class="cardBorder" [ngStyle]="{'border-left-color':getColor(res.data.status)}" *ngFor="let res of Results">
    <!-- <img src="img/nin-live.png"/> -->

    <div class="itemStyle">
    <ion-item>
        <ion-avatar item-start>
          <img [src]="res.data.photoUrl ? res.data.photoUrl : '../../assets/imgs/user.png'">
          <!-- <ion-icon style="font-size:2.2em" name="md-contact"></ion-icon> -->
        </ion-avatar>
        <h2>{{res.data.name }}</h2>
        <p>{{res.data.createdAt | date :  "MMM d, y" }}</p>
      </ion-item>
    </div>
    <hr>
      <ion-card-content>
         <!-- <h3> Reason For Leave:</h3><p>{{data.reason }}</p> -->
         <div class="contentStyle">
           <p> Hey!!! I will be on leave from <span class="FontAvatar">{{res.data.from | date : "MMM d, y"}}</span> to  <span class="FontAvatar">{{res.data.to | date : "MMM d, y"}}</span> due to <span class="FontAvatar">{{res.data.reason }}</span></p>
         </div>
        </ion-card-content>
        <hr>
        <ion-row style="position: relative;top:10px;" *ngIf="isManager=='true' && res.data.status=='0'">
            <!-- && res.data.status=='0'"> -->
<ion-col item-start style="text-align: center;">
    <!-- <button ion-button style="background-color:#66BB6A" (click)=acceptLeave(res.id)><ion-icon style="font-size:2em;color:white;" name="checkmark" isActive="false"></ion-icon></button> -->
    <button class="child" ion-button icon-left clear small>
        <!-- <ion-icon style="font-size:2em;color:#66BB6A;" name="checkmark" isActive="true"></ion-icon> -->
        <!-- <img  [@popOverState]="stateNhame" src="../../assets/imgs/happy (3).png"/> -->
        <img src="../../assets/imgs/happy (3).png"/>
       <!-- <div class="actionAavatar">Approve</div> -->
      </button>
<!-- <ion-badge item-end>From : {{data.from | date : "MMM/dd"}}</ion-badge> -->
</ion-col>
<ion-col item-end  style="text-align: center;">
    <!-- <button ion-button style="background-color:#E57373 "><ion-icon style="font-size:2em; color:white;" name="close"></ion-icon></button> -->
    <button ion-button icon-left clear small>
        <!-- <ion-icon style="font-size:2em; color:#E57373;" name="close"></ion-icon> -->
        <img src="../../assets/imgs/angryblack.png"/>
        <!-- <div class="actionRavatar">Reject</div> -->
      </button>
<!-- <ion-badge item-end>To : {{data.to | date : "MMM/dd"}}</ion-badge> -->
</ion-col>
<ion-col item-end  style="text-align: center;">
    <button ion-button icon-left clear small>
    <ion-icon style="font-size:2em;" name="information-circle"></ion-icon>
    </button>
    <!-- <div class="actionRavatar">More Info</div> -->
</ion-col>
        </ion-row>
        <ion-row *ngIf="isManager=='true' && res.data.status=='0'">
            <!-- && res.data.status=='0'"> -->
<ion-col  item-start style="text-align: center;">
    <button ion-button icon-left clear small (click)=acceptLeave(res.id)>
       <div class="actionAavatar">Approve</div>
    </button>
</ion-col>
<ion-col item-end  style="text-align: center;">
    <button ion-button icon-left clear small (click)=rejectLeave(res.id) >
        <div class="actionRavatar">Reject</div>
        </button>
</ion-col>
<ion-col item-end  style="text-align: center;">
    <button ion-button icon-left clear small (click)=MoreInfo(res.data) >
    <div class="actionIavatar">More Info</div>
    </button>
</ion-col>
        </ion-row>
  </ion-card>
</div>



</ion-content>
