<ion-header>
  <ion-navbar>
    <ion-title>Search Leave </ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="SearchResults" class="list">
    <ion-card style="width: 95vw;margin-left: -8px;">
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-label>From</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate" (ionChange)="validateDate()" formControlName="from"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>To</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" max="2020-10-31" [(ngModel)]="myToDate" (ionChange)="validateDate()" formControlName="ToDate"></ion-datetime>
          </ion-item>

          <ion-item>
            <!-- <button ion-button full [disabled]="!check"  (click)="searchLeave()">Search</button> -->
            <button ion-button round full [disabled]="!check" (click)="searchLeave()">Search</button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
<br/>

<div *ngIf="edited" style="position: relative;top:10%;">
    <img style="margin-left: auto;margin-right: auto;display: block;" [src]="'../../assets/imgs/research.png'"><br/>
  <div style="text-align: center;"><span class="contentStyle">Whoops! &nbsp;</span><span class="itemStyle">No Results Found </span></div>
</div>

<div *ngIf="IsearchResults">
  <ion-card class="cardBorder" [ngStyle]="{'border-left-color':getColor(res.status)}" *ngFor="let res of IsearchResults ">

    <div class="itemStyle">
    <ion-item>
        <ion-avatar item-start>
          <img [src]="res.owner.photoUrl ? res.owner.photoUrl : '../../assets/imgs/user.png'">
        </ion-avatar>
        <h2>{{res.owner.name }}</h2>
        <p> &bull; {{res.owner.team.name }} &bull; {{res.createdAt | date : "MMM d, y" }}</p>
      </ion-item>
    </div>
    <hr>
      <ion-card-content>
         <div class="contentStyle">
           <p> Hey!!! I will be on leave from <span class="FontAvatar">{{res.from | date : "MMM d, y"}}</span> to  <span class="FontAvatar">{{res.to | date : "MMM d, y"}}</span> due to <span class="FontAvatar">{{res.reason }}</span></p>
         </div>
        </ion-card-content>

        <hr *ngIf="this.UserDetails.isManager && res.status=='0'">

<ion-row *ngIf="this.UserDetails.isManager && res.status=='0'">
<ion-col (click)=acceptLeave(res.leaveId) item-start style="text-align: center;">
  <div>
  <button class="child" ion-button icon-left clear small>
      <img src="../../assets/imgs/happy (3).png"/>
    </button>
  </div>
  <div>
      <button ion-button icon-left clear small>
          <div class="actionAavatar">Approve</div>
       </button>
  </div>
</ion-col>
<ion-col (click)=rejectLeave(res.leaveId) item-end  style="text-align: center;">
  <div>
  <button ion-button icon-left clear small>
      <img src="../../assets/imgs/angryblack.png"/>
    </button>
    </div>
    <div>
        <button ion-button icon-left clear small >
            <div class="actionRavatar">Reject</div>
            </button>
    </div>
</ion-col>
<ion-col (click)=MoreInfo(res) item-end  style="text-align: center;">
  <div>
  <button ion-button icon-left clear small>
  <ion-icon style="font-size:2em;" name="information-circle"></ion-icon>
  </button>
</div>
<div>
    <button ion-button icon-left clear small>
        <div class="actionIavatar">More Info</div>
        </button>
</div>
</ion-col>
      </ion-row>


      <!-- <ion-row style="left: 4px;position: relative" *ngIf="isManager=='true' && res.status=='1'">
<ion-col  item-start style="text-align: center;">
  <button ion-button icon-left clear small (click)=acceptLeave(res.leaveId)>
     <div class="actionAavatar">Approve</div>
  </button>
</ion-col>
<ion-col item-end  style="text-align: center;">
  <button ion-button icon-left clear small (click)=rejectLeave(res.leaveId) >
      <div class="actionRavatar">Reject</div>
      </button>
</ion-col>
<ion-col item-end  style="text-align: center;">
  <button ion-button icon-left clear small (click)=MoreInfo(res) >
  <div class="actionIavatar">More Info</div>
  </button>
</ion-col>
      </ion-row> -->

  </ion-card>
</div>



</ion-content>