<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edit User Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">
  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
    <ion-card>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-input type="text" formControlName="name" placeholder="Name" [(ngModel)]="user.name"></ion-input>
          </ion-item>
          <ion-item>            
            <ion-select [(ngModel)]="user.manager" formControlName="manager">
              <ion-option *ngFor="let manager of managers" [value] = "manager.uid">{{manager.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>            
            <ion-select [(ngModel)]="user.team" formControlName="team">
              <ion-option *ngFor="let team of teams" [value] = "team.key">{{team.team}}</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button type="submit" [disabled]="!profileForm.valid" block outline color="dark">Update</button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>