<ion-header>
  <ion-navbar>
    <ion-title>View</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="leave-card">
      <ion-item>
        <span (click)="closeModal()" class="btn-close">
          <ion-icon name="ios-close-circle-outline" item-end></ion-icon>
        </span>
        <ion-avatar item-start>
          <img [src]="photoUrl" *ngIf="photoUrl">
        </ion-avatar>
        <h2>{{name}}</h2>
        <p> {{from | date : "MMM/dd"}} - {{to | date:"MMM/dd"}}, {{to | date:"yyyy"}}</p>
      </ion-item>

      <ion-card-content>
        <p>{{ reason }}</p>
      </ion-card-content>
  </ion-card>

  <div *ngIf="leaves$Count > 0;then overlappedLeaves" class="container"></div>
  
  <ng-template #overlappedLeaves>
    <ion-card class="leave-card" >
      <ion-list>
      <ion-list-header>During this period : {{leaves$Count}} Leaves</ion-list-header>
          <ion-item style="background-color:white;border-bottom:1px solid rgba(229, 232, 233, 0.938);" *ngFor="let leave of leaves$">
            <ion-avatar item-start>
              <img [src]="leave.photoUrl" *ngIf="leave.photoUrl">
            </ion-avatar>
            <div *ngIf="leave.status == 0;then pendingBlock" class="container"></div>
            <div *ngIf="leave.status == 1;then acceptBlock" class="container"></div>
            <div *ngIf="leave.status == 2;then rejectBlock" class="container"></div>
            <ng-template #pendingBlock>
                <div class="info1">
                    <h2>{{ leave.name }}</h2>
                    <span style="clear:both"></span>
                    <p>
                        From: {{leave.from | date : "MMM dd"}} to {{leave.to | date:"MMM dd"}}</p>
                </div>
                <div class="info2">
                    <p item-content item-end class="ts-globe">{{leave.createdAt | date:"MMM dd" }}
                        <ion-icon name="md-globe"></ion-icon>
                    </p>
                </div>
                <div class="info3">
                    <ion-icon name="ios-alert-outline" item-end color="pending" style="margin-bottom:-10px;font-size:15px;"></ion-icon>
                </div>
            </ng-template>
            <ng-template #acceptBlock>
                <div class="info1">
                    <h2>{{ leave.name }}</h2>
                    <span style="clear:both"></span>
                    <p>
                        From: {{leave.from | date : "MMM dd"}} to {{leave.to | date:"MMM dd"}}</p>
                </div>
                <div class="info2">
                    <p item-content item-end class="ts-globe">{{leave.createdAt | date:"MMM dd"}}
                        <ion-icon name="md-globe"></ion-icon>
                    </p>
                </div>
                <div class="info3">
                    <ion-icon name="md-thumbs-up" item-end color="secondary" style="margin-bottom:-10px;font-size:15px;"></ion-icon>
                </div>
            </ng-template>
            <ng-template #rejectBlock>
                <div class="info1">
                    <h2>{{ leave.name }}</h2>
                    <span style="clear:both"></span>
                    <p>
                        From: {{leave.from | date : "MMM dd"}} to {{leave.to | date:"MMM dd"}}</p>
                </div>
                <div class="info2">
                    <p item-content item-end class="ts-globe">{{leave.createdAt | date:"MMM dd" }}
                        <ion-icon name="md-globe"></ion-icon>
                    </p>
                </div>
                <div class="info3">
                    <ion-icon name="md-thumbs-down" item-end color="danger" style="margin-bottom:-10px;font-size:15px;"></ion-icon>
                </div>
            </ng-template>
          </ion-item>
      </ion-list>
    </ion-card>
  </ng-template>
</ion-content>