page-home {
    #cover {
        height: 400px;
    }
    #today {
        height: 300px;
    }
    #tomorrow {
        height: 300px;
    }
    .scroll-zoom-wrapper {
        white-space: nowrap;
    }
    ion-card {
        position: relative;
        //text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 26%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    #itemCount {
        position: absolute;
        display: none;
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        color: white;
        text-align: center;
    }
    .badge-custom{
        font-size: 12px;
        margin-top: -20px;
        margin-right: -5px;
        background-color: red;
        z-index: 999;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .contentStyle
{
    position: relative;
    font-family: g_light;
}

.itemStyle
{
    font-family: g_bold;
}



.FontAvatar
{
    font-weight: bolder;
    color:#488aff;
}
}
