<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="fontbolder">LMS</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button (click)="openReports()">
        <ion-icon name="stats"></ion-icon>
      </button>
      <button ion-button (click)="openNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge item-top class="badge-custom">{{badgeCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content  style="background-color:aliceblue">
<ion-slides pager="true" loop="true" id="cover" slidesPerView=1 autoplay="5000" loop="true" style="height: 240px;">
  <ion-slide style="height: 220px;" *ngFor="let img of sliderImg$">
    <img [src]="img"/>
  </ion-slide>
</ion-slides>
<div align="center">
  <h3 style="font-size: 16px; font-weight:600; display: inline-block; color: #333;">
  Who is Off
  </h3>
</div> 
<div><p style="margin: 0;padding: 0;font-size: 16px;font-weight: 600;display: inline-block;color: #333;">Today</p>
  <p style="margin: 0;color: #ed1d25;font-weight: 400;padding: 3px 10px;font-size: 13px!important;text-transform: none;float:right" (click)="openSeealltdy()">See All</p></div>
  <ion-slides pager="false" id="today" slidesPerView=3 style="height: 160px;">
    <ion-slide *ngFor="let leave of leavesToday$" style="height: 150px;">
      <ion-card>
        <img [src]="leave.owner.photoUrl ? leave.owner.photoUrl : '../../assets/imgs/user.png'"/>
        <ion-card-content style="background-color:#f5f8fb;">
          <span>{{leave.owner.name | nametrim : 7}}</span>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div><p style="margin: 0; padding: 0;font-size: 16px;font-weight: 600;display: inline-block;color: #333;">Tomorrow</p>
    <p style="margin: 0;color: #ed1d25;font-weight: 400;padding: 3px 10px;font-size: 13px!important;text-transform: none;float:right" (click)="openSeealltmrw()">See All</p></div>
  <ion-slides pager="false" id="tomorrow" slidesPerView=3 style="height: 160px;">
    <ion-slide *ngFor="let leavetmr of leavesTmrw$" style="height: 150px;">
      <ion-card>
        <img [src]="leavetmr.owner.photoUrl ? leavetmr.owner.photoUrl : '../../assets/imgs/user.png'"/>
        <ion-card-content style="background-color:#f5f8fb;">
          <span>{{leavetmr.owner.name | nametrim : 7}}</span>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-fab right bottom>
    <button ion-fab mini (click)="openNewLeave()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>