page-home{
    .itemStyle
    {
        font-family: g_bold;
    }
    
    .itemStyleheader
    {
        font-family: g_bold;        
        left:10px;
        font-size: 1.5em;
    }
    
    .itemStyleSubheaders
    {
        font-family: g_bold;        
        left: 5px;
        font-weight: 500;
        color: #333333;
    }
    
    .gridStyle
    {
        height: 40px;
    }
    
    .tdytmrwcardbg{
        position: relative;
        left: 5px;
    
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,237,251,1) 63%, rgba(205,226,249,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(63%, rgba(224,237,251,1)), color-stop(100%, rgba(205,226,249,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,237,251,1) 63%, rgba(205,226,249,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,237,251,1) 63%, rgba(205,226,249,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,237,251,1) 63%, rgba(205,226,249,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(224,237,251,1) 63%, rgba(205,226,249,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cde2f9', GradientType=0 );
    }
    
    .fontbolder
    {
        font-family: g_bold;
        font-weight: 800;
        position: relative;
        left:-10px;
        text-align: left;
    }
}


