<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LMS</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button (click)="openReports()">
        <ion-icon name="stats"></ion-icon>
      </button>
      <button ion-button (click)="openNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge item-top class="badge-custom">{{badgeCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="true" id="cover" slidesPerView=1 style="height: 230px;">
    <ion-slide *ngFor="let img of sliderImg$" style="height: 220px;">
      <img [src]="img" />
    </ion-slide>
  </ion-slides>
  <h3 align="center" style="font-family: Comic Sans MS"><i>Who is Off </i></h3>
  <h6  style="font-family: Comic Sans MS">Today</h6>
  <ion-slides pager="false" id="today" slidesPerView=3 style="height: 160px;">
    <ion-slide *ngFor="let leave of leavesToday$" style="height: 150px;">
      <!-- <ion-card>
        <div class="itemStyle">
          <ion-item>
            <ion-avatar item-start>
              <img [src]="leave.photoUrl ? leave.photoUrl : '../../assets/imgs/user.png'">
            </ion-avatar>
            <h2>{{leave.name }}</h2>
            <p>{{leave.createdAt | date : "MMM d, y" }}</p>
          </ion-item>
        </div>
        <hr>
        <ion-card-content style="background-color:#f5f8fb;">
          <div class="contentStyle">
            <p> Hey!!! I will be on leave from
              <span style="color:#488aff;">{{leave.from | date : "MMM d, y"}}</span> to
              <span style="color:#488aff;">{{leave.to | date : "MMM d, y"}}</span> due to
              <span class="FontAvatar">{{leave.reason }}</span>
            </p>
          </div>
        </ion-card-content>
      </ion-card> -->

      <ion-card>
        <img [src]="leave.photoUrl ? leave.photoUrl : '../../assets/imgs/user.png'">
        <ion-card-content style="background-color:#f5f8fb;">
            <span>{{leave.name | nametrim : 8}}</span>
        </ion-card-content>
      </ion-card>
    
    </ion-slide>
  </ion-slides>
  <h6  style="font-family: Comic Sans MS">Tomorrow</h6>
  <ion-slides pager="false" id="tomorrow" slidesPerView=3 style="height: 160px;">
    <ion-slide *ngFor="let leavetmr of leavesTmrw$" style="height: 150px;">
      <!-- <ion-card>
        <div class="itemStyle">
          <ion-item>
            <ion-avatar item-start>
              <img [src]="leave.photoUrl ? leave.photoUrl : '../../assets/imgs/user.png'">
            </ion-avatar>
            <h2>{{leave.name }}</h2>
            <p>{{leave.createdAt | date : "MMM d, y" }}</p>
          </ion-item>
        </div>
        <hr>
        <ion-card-content style="background-color:#f5f8fb;">
          <div class="contentStyle">
            <p> Hey!!! I will be on leave from
              <span style="color:#488aff;">{{leave.from | date : "MMM d, y"}}</span> to
              <span style="color:#488aff;">{{leave.to | date : "MMM d, y"}}</span> due to
              <span class="FontAvatar">{{leave.reason }}</span>
            </p>
          </div>
        </ion-card-content>
      </ion-card> -->
      <ion-card>
        <img [src]="leavetmr.photoUrl ? leavetmr.photoUrl : '../../assets/imgs/user.png'">
        <ion-card-content style="background-color:#f5f8fb;">
            <span>{{leavetmr.name | nametrim : 8}}</span>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-fab right bottom>
    <button ion-fab mini (click)="openNewLeave()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>