page-signin {
    .background {
		background-color: #f2f2f2;
    }

    .scroll-content {
			align-content: center!important;
			display: flex;
			flex-direction: column;
			justify-content: center!important;
			text-align: center;
			max-width: 400px;
			margin: auto;
			vertical-align: middle;
    }
    
    ion-card.card {
		box-shadow: none;
		background: #fff;
		border-radius: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #cacaca;
    }
    
    a, p,
	ion-card-header.card-header {
		color: #000!important;
    }
    
    // .list > .item-block:first-child {
	// 	border: medium none;
	// }

	.item {
		margin-bottom: 10px;
		// background: rgba(255, 255, 255, 0.5);
		background: #f2f2f2;
		border: medium none;

		.text-input, {
			color: #000;
		}

		input::-moz-placeholder  {
			color: #000!important;
		}

		input:-moz-placeholder {
			color: #000!important;
		}

		*::-webkit-input-placeholder  {
			color: #000!important;
		}

		*:-ms-input-placeholder  {
			color: #000!important;
		}

		*:-moz-placeholder  {
			color: #000!important;
		}
	}

    .button-md {
		text-transform: none;
    }

    ion-card {
        height: auto;
    }

    .icon {
		padding-right: 10px;
	}

	.signup-btn {
		margin-top: 20px;
	}

	.item-input {
		border: 1px solid #cacaca;
	  }
}
