<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Hello, {{ (authService.user | async)?.displayName || "Guest" }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="home" item-start *ngIf="p.title == 'Home'"></ion-icon>
        <ion-icon name="person" item-start *ngIf="p.title == 'My Profile'"></ion-icon>
        <ion-icon name="card" item-start *ngIf="p.title == 'My Leaves'"></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="signOut()">
          <ion-icon name="log-out" md="md-log-out" item-start></ion-icon>
          Sign Out
        </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>