<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <div class="UserHeader">
      <ion-title>
        <ion-item class="Itemheader">
          <ion-avatar item-start>
            <img [src]="photoURL ? photoURL : '../../assets/imgs/user.png'" style="width:80px;height:80px;border-radius:50%">
            <!-- <ion-icon style="font-size:2.2em" name="md-contact"></ion-icon> -->
          </ion-avatar>
          <h2 class="UserName"> Hello, {{ (authService.user | async)?.displayName || "Guest" }}</h2>

        </ion-item>

      </ion-title>
    </div>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background-color: white !important;">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="home" item-left *ngIf="p.title == 'Home'"></ion-icon>
        <ion-icon name="contact" item-left *ngIf="p.title == 'Profile'"></ion-icon>
        <ion-icon name="card" item-start *ngIf="p.title == 'Leaves'"></ion-icon>
        <ion-icon name="stats" item-left *ngIf="p.title == 'Reports'"></ion-icon>
        <ion-icon name="logo-rss" item-left *ngIf="p.title == 'Feedback'"></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="signOut()">
          <ion-icon name="log-out" md="md-log-out" item-start></ion-icon>
          Sign Out
        </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>