page-notifications {
    .ts-globe{
        font-size:10px;
    }
    .event-time-style{
        margin-bottom: -6px;
    }
    .label-md {
        margin: 5px 8px 5px 0;
    }
    .container{
        display:flex;
        overflow: hidden;
    }
    .info1{
        flex:3;
        width: 66%;
        display: block;
        float:left;
    }
    .info2{
        flex:1;
        width:33%;
        text-align: right;
        display: block;
        float:right;
    }
    .info3{
        flex:1;
        width:33%;
        text-align: right;
        display: block;
        float:right;
        margin-top:6px;
    }
    .item-md [item-end]{
        margin:2px 0px 0px 0px;
    }
    .item-ios h2 {
        font-size: 1.5rem;
    }
    .item-ios p {
        font-size: 1.2rem;
        color: #8e9093;
    }
    $item-ios-sliding-content-background :"primary";
}
