<ion-header>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="has-header">
    <!-- <ion-card *ngFor="let leave of leaves$" (swipe)="swipeEvent($event,leave.key)" class="leave-card">
    <div>
        <ion-item>
            <ion-avatar item-start>
              <img [src]="photoUrl" *ngIf="photoUrl">
            </ion-avatar>
            <h2>{{ userName }}</h2>
            <p>{{leave.from | date : "MMM/dd"}} - {{leave.to | date:"MMM/dd"}}, {{leave.to | date:"yyyy"}}</p>
            <div item-end>
              <p class="ts-globe">{{leave.createdAt | timeAgo }} <ion-icon name="md-globe"></ion-icon></p>              
            </div>
        </ion-item> 
         
        <ion-card-content>
          <p>{{leave.reason | summary :70}}</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="people"></ion-icon>
            </button>
            <ion-note>
                12 Other leaves applied
            </ion-note>
          </ion-col>
        </ion-row>
    </div>
    </ion-card> -->
    <ion-list>
        <ion-item-sliding #item *ngFor="let leave of leaves$">
          <ion-item>
              <ion-avatar item-start>
                  <img [src]="photoUrl" *ngIf="photoUrl">
              </ion-avatar>
              <ion-label style="margin-top:-5px;">
                {{ userName }}
              </ion-label>
              <ion-label style="margin-bottom:-20px;font-size:12px;margin-left:-215px;" item-content>
                {{leave.from | date : "MMM/dd"}} - {{leave.to | date:"MMM/dd"}}, {{leave.to | date:"yyyy"}}
              </ion-label>
              <p style="margin-top:-10px;" item-content item-end class="ts-globe">{{leave.createdAt | timeAgo }} <ion-icon name="md-globe"></ion-icon></p> 
            </ion-item>
          <ion-item-options side="left">
            <button ion-button color="danger" (click)="rejectLeave(leave.key)" *ngIf="isManagerRole == 'true'">Reject</button>
            <button ion-button color="light" (click)="readOnly(leave.key)" *ngIf="isManagerRole == 'false'">Archive</button>
          </ion-item-options>
      
          <ion-item-options side="right">
            <button ion-button color="secondary" (click)="acceptLeave(leave.key)" *ngIf="isManagerRole == 'true'">Accept</button>
            <button ion-button color="light" (click)="readOnly(leave.key)" *ngIf="isManagerRole == 'false'">Archive</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>
