
	.fontbolder
	{
		font-family: g_bold;
		font-weight: 500;
	}
	.img
	{
		min-width: 100%;
		min-height: 100%;
		background-image: url('assets/imgs/bg4.png') !important;
		background-color: #039be5 !important;
	}
	.formcontent
	{
	 position: relative;
	 top:10em;
	}
	.ionitems
	{
		border: 1px solid #c2bdbd !important;
	}
.item {
		input::-moz-placeholder  {
			color: rgb(90, 88, 88)!important;
		}

		input:-moz-placeholder {
			color: rgb(90, 88, 88) !important;
		}

		*::-webkit-input-placeholder  {
			color:rgb(90, 88, 88)!important;
		}

		*:-ms-input-placeholder  {
			color:rgb(90, 88, 88)!important;
		}

		*:-moz-placeholder  {
			color:rgb(90, 88, 88)!important;
		}
	}
	.btnlogin
	{
		margin-top: 10px;
		background-color:#039be5 !important;
	}
	.button-md {
		text-transform: none;
	}

	.signup-btn {
		margin-top: 20px;
		color:white;
	}

	ion-card.card {
		box-shadow: none;
		background: #fff;
		border-radius: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #cacaca;
		height: auto;
	} 


 

